body {
  background-color: lightgrey;
}
/* .red {
  color: red;
} */
#pid {
  background-color: yellow;
  color: green;
}
div p {
  background-color: yellow;
  color: blue;
  font-weight: bold;
}
h1,
h2,
h3 {
  color: maroon;
}
